<li class="post-stub" itemprop="blogPost" itemscope="" itemtype="https://schema.org/BlogPosting">
    <a href="{{ .Permalink }}#disqus_thread" itemprop="url" title="Go to post detail">
        {{if isset .Params "check" }}
            {{if .Params.check}}
            <span class="fa fa-check fa-lg text-success">&nbsp;</span>
            {{else}}
            <span class="fa-stack fa-lg">
            <i class="fa fa-check fa-stack-1x text-success"></i>
            <i class="fa fa-ban fa-stack-2x text-danger"></i>
            </span>
            {{end}}
        {{else}}
            <span class="fa fa-hand-spock-o fa-lg text-success">&nbsp;</span>
        {{end}}
        <h4 class="post-stub-title" itemprop="name">{{ .Title }}</h4>
        <time class="post-stub-date fa fa-calendar" datetime="{{ .Date.Format " 2006-01-02 " }}"> {{ dateFormat (default "Mon, Jan 2, 2006" .Site.Params.dateFormat) .Date }}</time> <span class="fa fa-pencil"> {{ .Params.Author }}</span> {{ with .Params.featured }}
        <span class="post-stub-tag">Destacado</span> {{ end }}
    </a>
</li>